<!DOCTYPE html>

{%load static%}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'MAIN/styles_mainpage.css'%}">
    </head>
    <body>
        <div class='content'>
            <h1> Affichage </h1>
    
            <div class='tout'>
                <div class='affichage'>
                    <p id="mqid" class=""> Id du capteur {{do.mqid}}</p>
                    <p id="date" class=""> Date : {{do.date}}</p>
                    <p id="heure" class=""> Heure : {{do.heure}}</p>
                    <p id="temp" class=""> Température : {{do.temp}}</p>
                </div>
                <a href="/mainpage"> <button class=''> Accéder à l'accueil  </button> </a>
            </div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>